.profile-pic {
  height: 25%;
  width: 25%;
  border-radius: 50%;
  border: solid #0b192f 5px;
}

.intro-wrapper {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
}

.section-wrapper {
  display: grid;
  color: #0b192f;
  margin: 0 20px 0 20px;
}

.intro-section-1 {
  font-size: 24px;
}

.intro-section-2 {
  text-align: center;
  font-size: 18px;
}
