.project-wrapper img {
  height: 300px;
  width: 400px;
  border-radius: 5px;
}

.project-wrapper {
  display: grid;
  justify-content: space-between;
  gap: 30px;
}

/* .project-aside p {
  padding: 10px 0 10px 0;
} */

.project-stacks img {
  height: 50px;
  width: 50px;
  padding: 0 2px 0 2px;
}

.project-details {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 25px;
  padding: 20px;
}

.project-aside {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 100px 0px 100px;
  text-wrap: wrap;
  align-items: center;
  flex: 1;
  gap: 10px;
}

.project-1-wrapper {
  width: 90%;
  background-color: #e79087;
  background-image: linear-gradient(315deg, #e79087 0%, #fcd181 74%);
  text-align: center;
  margin: auto;
  padding: 20px 0 20px 0;
  border-radius: 20px;
}
.project-2-wrapper {
  width: 90%;
  background-color: #8ae9b3;
  background-image: linear-gradient(315deg, #8ae9b3 0%, #c8d6e5 74%);
  text-align: center;
  margin: auto;
  border-radius: 20px;
}
.project-3-wrapper {
  width: 90%;
  background-color: #f368e0;
  background-image: linear-gradient(315deg, #f368e0 0%, #d3d3d3 74%);
  text-align: center;
  margin: auto;
  border-radius: 20px;
}
.project-4-wrapper {
  width: 90%;
  background-color: #378b29;
  background-image: linear-gradient(315deg, #378b29 0%, #ffffff 74%);
  text-align: center;
  margin: auto;
  border-radius: 20px;
}
/* 
.project-wrapper {
  display: flex;
} */

.project-links {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.link-divider {
  padding: 0 10px 0 10px;
}

.project-shifter {
  margin: 5px 0 0 0;
}
