.project-wrapper img {
  width: 100%;
  border-radius: 5px;
}

.project-wrapper {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 10px;
}

.project-stacks img {
  height: 50px;
  width: 50px;
  padding: 0 2px 0 2px;
}

.project-item-wrapper {
  /* width: calc(50% - 10px); */
  background-color: #bee1f7;
  color: #0b192f;
  border: 5px solid #0b192f;
  text-align: center;
  /* margin: auto; */
  border-radius: 20px;
  cursor: pointer;
}
.project-item-wrapper:hover {
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
}

.project-links {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.link-divider {
  padding: 0 10px 0 10px;
}

.project-shifter {
  margin: 5px 0 0 0;
}

.container {
  display: flex;
  justify-content: center;
}

.flip-card {
  perspective: 1000px;
  width: 400px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  margin: auto;
}

.flip-card.flipped {
  transform: rotateY(180deg);
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.card-content {
  padding: 20px;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flip-button {
  cursor: pointer;
}

@media (max-width: 767px) {
  .project-1-wrapper .project-2-wrapper .project-3-wrapper .project-4-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
